@charset "utf-8";
/*全体的なレイアウト*/
body{
    background:  rgb(119, 195, 223);
}

#Cars,#IntroShop,#Title,#Access,#mainNav{
    width: 1200px;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
    position: relative;
    padding: 5px 5px 5px 42px;
    background: #3C14D0;
    font-size: 40px;
    color: white;
    margin-left: -33px;
    line-height: 1.3;
  }
  
  h1:before {
    position: absolute;
    content: '';
    left: -2px;
    top: -2px;
    border: none;
    border-left: solid 40px rgb(119, 195, 223);
    border-bottom: solid 79px transparent;
  }

  h2 {
    position: relative;
    padding-left: 25px;
  }
  
  h2:before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 0;
    border: none;
    border-left: solid 15px transparent;
    border-bottom: solid 15px #3C14D0;
  }

  h2:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 10px;
    width: 100%;
    border-bottom: solid 3px #3C14D0;
  }
  
 #Title{
    padding-bottom: 400px;
  }

  #IntroShop{
    padding-bottom: 200px;
    padding-top: 30px;
  }

  #Cars{
    padding-bottom: 850px;
    padding-top: 30px;
  }

  #Access{
    padding-bottom: 200px;
    padding-top: 10px;
  }

  /*ヘッダー部分*/
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: rgb(119, 195, 223);
    transition: background-color .3s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    min-height: 56px;
    font-size: 25px;
  }
  
  #mainNav .container {
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #mainNav .navbar-brand {
    padding: .5rem 0;
    font-weight: 700;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 27px;
    line-height: inherit;
    white-space: nowrap;
  }

  
  #mainNav ul{
    list-style: none;
  }

  #mainNav .navbar-brand{
    text-decoration:none;
  }

  .navbar-nav li {
    width: 150px;
    text-align: center;
    background-color:#3C14D0;
    float: left;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .navbar-nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

/*タイトル部分*/
  #graphic,.graphic{
    width: 840px;
    height: 500px;
    position: relative;
  }
  #graphic ul {
    position: relative;
    list-style: none;
    padding-left: 0;
  }

  #graphic ul img{
    width: 1200px;
    height: 900px;
    padding-right:10px;
    padding-bottom:100px;
    z-index: 1;
  }
  #graphic ul li {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  #graphic ul li.now {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
  }

  #name{
    position: absolute;
  }

  #shopName::before {
    display: block; 
    padding: 0 20px;
    content: 'オートパレス具志川本店';
    z-index: 100;
    display: block;
    width: max-content;
    height: max-content;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 80px;
    color: #ffff;
    background:#3C14D0;
    opacity: 0.8;
    white-space: nowrap;
  }


/*販売店紹介*/
#IntroShop h2{
    font-size: 20px;
}

#IntroShop p{
    font-size: 15px;
}

.shopIntro img{
    float: left;
    width: 600px;
    padding: 10px;
}


/*商品一覧*/
#Cars img{
    width:250px;
    height:200px;
}

#Cars .gallery_box .main {
  border-bottom: 0.1875em solid #af3030;
  background-color:#fff;
  outline: none;
  position: relative;
  display: inline-block;
  padding: 15px 10px 14px;
  cursor: pointer;
  width: auto;
  transition: all 0.3s ease 0s;
}

#Cars .gallery_box .main:hover {
  background: #ef3f40;
  border-bottom-color: transparent;
  transform: translateY(0.1875em);
}

.gallery_box{
  padding-left: 50px;
} 

.gallery_box figure{
  float: left;
}
.gallery_box figure:first-child{								
  margin-left: 100px;					
}								

#car th {
  table-layout: fixed;
  font-size: .85em;
  background:#0404B4;
  color: #fff;
}

#car td {
  padding: 1em 50px 1em 1em;
}

#car tr {
  background-color: #e6e9f5;
  padding: .35em;
  border-bottom: 2px solid #fff;
}
.main{
  position: fixed;
}

/*アクセス*/
#accesstable {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 650px;
    table-layout: fixed;
  }
  
  #accesstable tr {
    background-color: #e6e9f5;
    padding: .35em;
    border-bottom: 2px solid #fff;
  }
  #accesstable th,
  #accesstable td {
    padding: 1em 10px 1em 1em;
    border-right: 2px solid #fff;
  }
  #accesstable th {
    font-size: .85em;
    background:#0404B4;
    color: #fff;
  }

  .txt{
     text-align: left;
     font-size: .85em;
  }
  .non{
    background:#fff
  }
 

#topBack a{
  color: #fff;
  background-color: #0404B4;
  text-decoration:none;
}

/*ページトップボタン*/
#page_top{
  width: 100px;
  height:100px;
  position: fixed;
  right: -100px;
  bottom: 0;
  background: #ef3f40;
  opacity: 0.6;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f0d8';
  font-size: 100px;
  color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}